.item {
	background-image: url("/gui/slot.png");
	background-size: 100% 100%;
	image-rendering: pixelated;
	position: relative;

	&:hover::after {
		content: '';
		position: relative;
		background: white;
		opacity: 0.56;
		pointer-events: none;
		position: absolute;
		top: 4px;
		left: 4px;
		right: 4px;
		bottom: 4px;
	}
}