.slot {
	background-image: url("/gui/slot.png");
	background-size: 100% 100%;
	image-rendering: pixelated;
	position: relative;
	
	--slot-pad: calc(1/18 * 100%);
	padding: var(--slot-pad);

	&::after {
		content: '';
		position: relative;
		background: black;
		opacity: calc(var(--slot-shade, 0) * 0.56);
		pointer-events: none;
		position: absolute;
		top: var(--slot-pad);
		left: var(--slot-pad);
		right: var(--slot-pad);
		bottom: var(--slot-pad);
	}

	&:hover::after {
		background: white;
		opacity: 0.56;
	}
}